---
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$header-font-family: "Montserrat", $base-font-family;
$title-font-family: "Indie Flower", $base-font-family;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$half-spacing-unit: $spacing-unit / 2;


$background-color: #87d2ef;
$brand-color:      #38a3d1;

$black-color:      #2f2f2f;
$white-color:      #fefefe;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 44%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       $black-color;

$on-small-palm:    550px;
$on-palm:          650px;
$on-laptop:        800px;
$max-page-size:    1080px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    url("https://fonts.googleapis.com/css?family=Indie+Flower"),
    url("https://fonts.googleapis.com/css?family=Montserrat:400,700"),
    "base",
    "columns",
    "paper",
    "header",
    "footer",
    "layout",
    "beers",
    "syntax-highlighting"
;
