<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">
            <span class="cloudIcon">{% include symbolCloud.html %}</span>
            <span class="title">{{ site.title }}</span>
        </a>

        <nav class="site-nav">
            <a href="#" class="menu-icon">
                {% include symbolMenu.html %}
            </a>

            <div class="trigger">
                {% assign pages = site.pages | sort:"priority"  %}
                {% for page in pages %}
                {% if page.title %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </nav>

    </div>

</header>
