<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% assign title = "Simon Palmqvists Blog" %}
    {% if page.title %}
        {% assign title = page.title %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.logo | prepend: site.baseurl | prepend: site.url}}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    {% if page.type %}
        <meta property="og:type" content="{{ page.type }}">
    {% endif %}

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>