.beer-overview {
    @include getPaper();
    margin-bottom: 0;

    @include media-query($on-palm) {
        padding: $half-spacing-unit $half-spacing-unit;
    }
    text-align: center;


    img {
        max-height: 400px;
    }
}

.beer-link {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: transparent;
    text-align: center;
    font-family: $title-font-family;
    font-size: 20px;

    span {
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    &:hover {
        /*color:transparent;*/
        color: $white-color;
        background-color: rgba(0,0,0, 0.6);


    }
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.beer-title {
    text-align: center;

    &.type {
        @extend h2;
        display: block;
        font-family: $title-font-family;
        font-style: italic;
        padding-bottom: $half-spacing-unit;
        border-bottom: 1px solid $grey-color-light;
    }

}

.beer-img {
    height:400px;
    position:relative;
    overflow: hidden;

    img {
        margin-top: -400px;
        display: inline-block;
        max-height: 800px;

    }

    @include media-query($on-small-palm) {
        text-align: center;
    }
}