/**
 * Site footer
 */
.site-footer {
    background-color: $black-color;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;

    a {
        &:visited {
            color: $brand-color;
        }
        &:hover {
            color: lighten($brand-color, 10%);
        }
    }
}

.footer-heading {
    font-size: 22px;
    font-family: $title-font-family;
    letter-spacing: 3px;
    color: $white-color;
    margin-bottom: $half-spacing-unit;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
