/**
 * Site header
 */

.site-header {
    padding: 7px 0;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {

    margin: 10px 0;
    float: left;

    .title {
        display: inline-block;
        margin-left: 10px;
        font-family: $title-font-family;
        letter-spacing: 3px;
        font-size: 28px;

        &,
        &:visited {
            color: $white-color;
        }

        @include media-query(400px) {
            display: none;
        }

    }

}

.site-nav {
    float: right;
    margin: 17px 0;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $white-color;
        font-family: $title-font-family;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 22px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: $spacing-unit * 2;
        }

        &:hover {
            padding-bottom:1px;
            border-bottom: 2px solid $white-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 0;
        right: $half-spacing-unit;
        background-color: $white-color;
        border-radius: 20px;
        text-align: center;
        border: 1px dashed $grey-color-light;
        z-index: 200;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $background-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;

        }

        .page-link {
            display: block;
            padding: 5px 40px !important;
            margin: 0 !important;

            &:hover {
                border: none;
            }

        }

        a,
        a:visited,
        a:hover {
            color: $text-color !important;
        }
    }
}