/**
 * Paper looking box
 * Inspiration from http://www.sitepoint.com/pure-css3-paper-curls/
 */

@mixin skewAndRotate($value) {
    -webkit-transform: skew($value) rotate($value);
    -moz-transform: skew($value) rotate($value);
    -ms-transform: skew($value) rotate($value);
    -o-transform: skew($value) rotate($value);
    transform: skew($value) rotate($value);
}


@mixin getPaper() {
    margin: 0 auto $spacing-unit auto;
    padding: $spacing-unit;
    background-color: $white-color;
    box-shadow: 0 0 5px rgba($black-color, 0.3), inset 0 0 50px rgba($black-color, 0.2);
    position: relative;

    &:before,
    &:after {
        position: absolute;
        width: 40%;
        height: 10px;
        content: "";
        bottom: 18px;
        background: transparent;
        box-shadow: 0 10px 12px rgba($black-color, 0.4);
        z-index:-1;
    }

    &:before {
        left: 12px;
        @include skewAndRotate(-5deg);
    }

    &:after {
        right: 12px;
        @include skewAndRotate(5deg);
    }

}